<div class="col-xs-4">
  <h1>My collections</h1>
  <div ng-repeat="item in myCollections track by $index">
    <h2>{{item.data.name}}</h2>
    <p>
      <a ng-href="{{item.links.self.href}}" target="blank">Link to collection in zotero</a>
    </p>

  </div>
</div>

<div class="col-xs-4">
  <h1>My items</h1>
  <div ng-repeat="item in myItems track by $index">
    <h2>{{item.data.title}}</h2>
    <p>
      <a ng-href="{{item.data.url}}" target="blank">Link to item resource</a>
    </p>
    <p>
      <a ng-href="{{item.links.self.href}}" target="blank">Link to item in Zotero</a>
    </p>
  </div>
</div>

<div class="col-xs-4">
  <h1>My tags</h1>
  <div ng-repeat="item in myTags track by $index">
    <h2>{{item.tag}}</h2>
    <p>
      {{item.meta.numItems}} items with this tag
    </p>
    <p>
      <a ng-href="{{item.links.self.href}}" target="blank">Link to tag in zotero</a>
    </p>
  </div>
</div>